.homepage {
  background-color: whitesmoke;
}

.bubbles-window {
  height: 90vh;
  /* background-image: url("/public/images/icelandic-auroras.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
  background-color: whitesmoke;
}
.row__24__colors {
  display: flex;
  padding: 1em;
  align-items: center;
  /*   background-color: beige; */
  height: 30px;
}
.header__24 {
  font-size: 24px;

  color: #121212;
  margin-right: 40px;
}

.terms__of__use {
  padding: 1em;
  height: 300px;

  background-color: #121212;
}

.powered__coinpaprika {
  font-size: 14px;
  color: whitesmoke;
}

p {
  font-size: 10px;
  color: whitesmoke;
}
