* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif, Arial;
}

.App {
  background-color: #121212;
}

.cube__crypto {
  margin: 10px;
}

.row__24__colors {
  display: flex;
  padding: 1em;
  align-items: center;
}
.header__24 {
  font-size: 24px;

  color: whitesmoke;
  margin-right: 40px;
}

.terms__of__use {
  padding: 1em;
  height: 300px;

  color: whitesmoke;
}

.powered__coinpaprika {
  font-size: 14px;
}

p {
  font-size: 10px;
}
